.pageWrapper{
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: white;

  .content{
    padding: 24px;
    width: 80%;
    margin: auto;
    margin-left: 10%;
    margin-top: 40px;
    position: absolute;
    z-index: 1;
    background: white;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  .footer{
    position: absolute;
    height: 100%;
    background-image: url(https://www.win2day.at/media/lotterien_keyvisual_white_background.jpg);
    width: 100%;
    background-position: 50%;
  }
  .header{
    font-family: arial;
    font-weight: 100;
    font-size: 30px;
    color: black;
    margin-top: 0px;
  }


  .value{
    font-size: 28px;
    color: darkgray;
  }
  .responseHeader{
    padding: 16px 0px
  }

  .header2{
    font-family: arial;
    font-size: 16px;
    color: #444444;
    margin-top: 6px;
    margin-bottom: 3px;
  }
}
