
.ball {
  display: grid;
  background: black;
  border-radius: 50%;
  height: var(--size);
  width: var(--size);
  background: radial-gradient(circle at 50px 50px, #ffffff, rgb(189, 183, 183));
  justify-content: center;
  align-items: center;

}

.number{
  color: rgb(19, 95, 19);
  font-family: 'Anton', ;
  font-size: calc( var(--size) * 0.4 );
}

.InsertFeld{
  background-color : white;
  color: red;
}
