
.ball {
  display: grid;
  background: black;
  border-radius: 50%;
  height: var(--size);
  width: var(--size);
  background: radial-gradient(circle at 50px 50px, white, rgb(189, 183, 183));
  justify-content: center;
  align-items: center;
  animation: rollIn;
  animation-duration: 0.8s;
}

.extraBall{
  background: radial-gradient(circle at 50px 50px, yellow, #ffb900);
}

.hightlight{
  border: 3px solid #FFC107;
}

.number{
  color: rgb(19, 95, 19);
  font-family: 'Anton', ;
  font-size: calc( var(--size) * 0.4 );
}

.InsertFeld{
  background-color : white;
  color: red;
}

@keyframes rollIn {
    0% {
       opacity: 0;
       transform: translateX(200%) rotate(240deg);
    }
    100% {
       opacity: 1;
       transform: translateX(0px) rotate(0deg);
    }
 }
